<a href="https://colab.research.google.com/github/Nailloon/Machine-Learning-Practice/blob/main/%D0%9B%D0%B0%D0%B1%D0%BE%D1%80%D0%B0%D1%82%D0%BE%D1%80%D0%BD%D1%8B%D0%B5%20%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D1%8B%20%D0%AE%D0%B4%D0%B8%D0%BD%D1%86%D0%B5%D0%B2%D0%BE%D0%B9%20%D0%9D%D0%B0%D0%B4%D0%B5%D0%B6%D0%B4%D1%8B/%D0%A0%D0%B5%D0%B3%D1%80%D0%B5%D1%81%D1%81%D0%B8%D1%8F.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data1 = pd.read_csv('/content/drive/MyDrive/cars.csv')
data1

,manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_fuel,engine_has_gas,engine_type,engine_capacity,...,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,duration_listed
0,Subaru,Outback,automatic,silver,190000,2010,gasoline,False,gasoline,2.5,...,True,True,True,False,True,False,True,True,True,16
1,Subaru,Outback,automatic,blue,290000,2002,gasoline,False,gasoline,3.0,...,True,False,False,True,True,False,False,False,True,83
2,Subaru,Forester,automatic,red,402000,2001,gasoline,False,gasoline,2.5,...,True,False,False,False,False,False,False,True,True,151
3,Subaru,Impreza,mechanical,blue,10000,1999,gasoline,False,gasoline,3.0,...,False,False,False,False,False,False,False,False,False,86
4,Subaru,Legacy,automatic,black,280000,2001,gasoline,False,gasoline,2.5,...,True,False,True,True,False,False,False,False,True,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38526,Chrysler,300,automatic,silver,290000,2000,gasoline,False,gasoline,3.5,...,True,False,False,True,True,False,False,True,True,301
38527,Chrysler,PT Cruiser,mechanical,blue,321000,2004,diesel,False,diesel,2.2,...,True,False,False,True,True,False,False,True,True,317
38528,Chrysler,300,automatic,blue,777957,2000,gasoline,False,gasoline,3.5,...,True,False,False,True,True,False,False,True,True,369
38529,Chrysler,PT Cruiser,mechanical,black,20000,2001,gasoline,False,gasoline,2.0,...,True,False,False,False,False,False,False,False,True,490
38530,Chrysler,Voyager,automatic,silver,297729,2000,gasoline,False,gasoline,2.4,...,False,False,False,False,False,False,False,False,True,632

In [ ]:
data1.isnull().sum()

manufacturer_name     0
model_name            0
transmission          0
color                 0
odometer_value        0
year_produced         0
engine_fuel           0
engine_has_gas        0
engine_type           0
engine_capacity      10
body_type             0
has_warranty          0
state                 0
drivetrain            0
price_usd             0
is_exchangeable       0
location_region       0
number_of_photos      0
up_counter            0
feature_0             0
feature_1             0
feature_2             0
feature_3             0
feature_4             0
feature_5             0
feature_6             0
feature_7             0
feature_8             0
feature_9             0
duration_listed       0
dtype: int64

In [ ]:
data1['engine_capacity'].mode()

0    2.0
Name: engine_capacity, dtype: float64

In [ ]:
data1['engine_capacity'] = data1['engine_capacity'].fillna(data1['engine_capacity'].mode()[0])

In [ ]:
data1.isnull().sum()

manufacturer_name    0
model_name           0
transmission         0
color                0
odometer_value       0
year_produced        0
engine_fuel          0
engine_has_gas       0
engine_type          0
engine_capacity      0
body_type            0
has_warranty         0
state                0
drivetrain           0
price_usd            0
is_exchangeable      0
location_region      0
number_of_photos     0
up_counter           0
feature_0            0
feature_1            0
feature_2            0
feature_3            0
feature_4            0
feature_5            0
feature_6            0
feature_7            0
feature_8            0
feature_9            0
duration_listed      0
dtype: int64

In [ ]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38531 entries, 0 to 38530
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   manufacturer_name  38531 non-null  object
 1   model_name         38531 non-null  object
 2   transmission       38531 non-null  object
 3   color              38531 non-null  object
 4   odometer_value     38531 non-null  int64
 5   year_produced      38531 non-null  int64
 6   engine_fuel        38531 non-null  object
 7   engine_has_gas     38531 non-null  bool
 8   engine_type        38531 non-null  object
 9   engine_capacity    38531 non-null  float64
 10  body_type          38531 non-null  object
 11  has_warranty       38531 non-null  bool
 12  state              38531 non-null  object
 13  drivetrain         38531 non-null  object
 14  price_usd          38531 non-null  float64
 15  is_exchangeable    38531 non-null  bool
 16  location_region    38531 non-null  object
 17  number_of_photos   38531 non-null  int64
 18  up_counter         38531 non-null  int64
 19  feature_0          38531 non-null  bool
 20  feature_1          38531 non-null  bool
 21  feature_2          38531 non-null  bool
 22  feature_3          38531 non-null  bool
 23  feature_4          38531 non-null  bool
 24  feature_5          38531 non-null  bool
 25  feature_6          38531 non-null  bool
 26  feature_7          38531 non-null  bool
 27  feature_8          38531 non-null  bool
 28  feature_9          38531 non-null  bool
 29  duration_listed    38531 non-null  int64
dtypes: bool(13), float64(2), int64(5), object(10)
memory usage: 5.5+ MB

In [ ]:
map_dict = {
    False: 0,
    True: 1
}
for y in data1.columns:
    if(data1[y].dtype == 'bool'):
        data1[y] = data1[y].map(map_dict)
    if(data1[y].dtype == 'object'):
        data1 = pd.get_dummies(columns=[y], data = data1)
data1

,odometer_value,year_produced,engine_has_gas,engine_capacity,has_warranty,price_usd,is_exchangeable,number_of_photos,up_counter,feature_0,...,state_owned,drivetrain_all,drivetrain_front,drivetrain_rear,location_region_Брестская обл.,location_region_Витебская обл.,location_region_Гомельская обл.,location_region_Гродненская обл.,location_region_Минская обл.,location_region_Могилевская обл.
0,190000,2010,0,2.5,0,10900.00,0,9,13,0,...,1,1,0,0,0,0,0,0,1,0
1,290000,2002,0,3.0,0,5000.00,1,12,54,0,...,1,1,0,0,0,0,0,0,1,0
2,402000,2001,0,2.5,0,2800.00,1,4,72,0,...,1,1,0,0,0,0,0,0,1,0
3,10000,1999,0,3.0,0,9999.00,1,9,42,1,...,1,1,0,0,0,0,0,0,1,0
4,280000,2001,0,2.5,0,2134.11,1,14,7,0,...,1,1,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38526,290000,2000,0,3.5,0,2750.00,1,5,85,0,...,1,0,1,0,0,0,0,0,1,0
38527,321000,2004,0,2.2,0,4800.00,1,4,20,0,...,1,0,1,0,1,0,0,0,0,0
38528,777957,2000,0,3.5,0,4300.00,0,3,63,0,...,1,0,1,0,0,0,0,0,1,0
38529,20000,2001,0,2.0,0,4000.00,1,7,156,0,...,1,0,1,0,1,0,0,0,0,0
38530,297729,2000,0,2.4,0,3200.00,1,4,73,0,...,1,0,1,0,0,0,0,0,1,0

In [ ]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38531 entries, 0 to 38530
Columns: 1240 entries, odometer_value to location_region_Могилевская обл.
dtypes: float64(2), int64(18), uint8(1220)
memory usage: 50.7 MB

In [ ]:
data1.to_csv('/content/drive/MyDrive/cars2.csv')

##Первый пункт

In [ ]:
y = data1["price_usd"]
X = data1.drop(["price_usd"], axis=1)

In [ ]:
y

0        10900.00
1         5000.00
2         2800.00
3         9999.00
4         2134.11
           ...
38526     2750.00
38527     4800.00
38528     4300.00
38529     4000.00
38530     3200.00
Name: price_usd, Length: 38531, dtype: float64

In [ ]:
X

,odometer_value,year_produced,engine_has_gas,engine_capacity,has_warranty,is_exchangeable,number_of_photos,up_counter,feature_0,feature_1,...,state_owned,drivetrain_all,drivetrain_front,drivetrain_rear,location_region_Брестская обл.,location_region_Витебская обл.,location_region_Гомельская обл.,location_region_Гродненская обл.,location_region_Минская обл.,location_region_Могилевская обл.
0,190000,2010,0,2.5,0,0,9,13,0,1,...,1,1,0,0,0,0,0,0,1,0
1,290000,2002,0,3.0,0,1,12,54,0,1,...,1,1,0,0,0,0,0,0,1,0
2,402000,2001,0,2.5,0,1,4,72,0,1,...,1,1,0,0,0,0,0,0,1,0
3,10000,1999,0,3.0,0,1,9,42,1,0,...,1,1,0,0,0,0,0,0,1,0
4,280000,2001,0,2.5,0,1,14,7,0,1,...,1,1,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38526,290000,2000,0,3.5,0,1,5,85,0,1,...,1,0,1,0,0,0,0,0,1,0
38527,321000,2004,0,2.2,0,1,4,20,0,1,...,1,0,1,0,1,0,0,0,0,0
38528,777957,2000,0,3.5,0,0,3,63,0,1,...,1,0,1,0,0,0,0,0,1,0
38529,20000,2001,0,2.0,0,1,7,156,0,1,...,1,0,1,0,1,0,0,0,0,0
38530,297729,2000,0,2.4,0,1,4,73,0,0,...,1,0,1,0,0,0,0,0,1,0

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5)

In [ ]:
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((19265, 1239), (19265,), (19266, 1239), (19266,))

##Второй пункт

In [ ]:

from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.metrics import mean_squared_error, mean_absolute_error, mean_absolute_percentage_error
from math import sqrt
lr = LinearRegression().fit(X_train, y_train)
lr.predict(X_test)

array([  954.69740657,  6387.358179  , 12398.54478764, ...,
        5552.34393308, 32619.24845142,  8377.05569431])

In [ ]:
y_pred = lr.predict(X_test)
print(f'MAE: {mean_absolute_error(y_test, y_pred)}') #средняя абсолютная ошибка
print(f'MSE: {mean_squared_error(y_test, y_pred)}') #средняя квадратичная ошибка
print(f'RMSE: {sqrt(mean_squared_error(y_test, y_pred))}') #квадратный корень из средней квадратичной ошибки
print(f'MAPE: {sqrt(mean_absolute_percentage_error(y_test, y_pred))}') #средняя абсолютная ошибка в процентах
print(f'R^2: {lr.score(X_test, y_test)}') #коэффициент детерминации

MAE: 1653.5732927915801
MSE: 7740339.173338485
RMSE: 2782.1465046504086
MAPE: 0.872175035972804
R^2: 0.8161936270394881

In [ ]:
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV

In [ ]:
parameters = {'alpha': np.arange(0, 1, 0.1)}
ridge_optimal = RandomizedSearchCV(Ridge(), parameters).fit(X_train, y_train)
ridge_optimal.best_params_

{'alpha': 0.5}

In [ ]:
#L1
ridge = Ridge(alpha=0.5).fit(X_train, y_train)
y_pred = ridge.predict(X_test)
print(f'MAE: {mean_absolute_error(y_test, y_pred)}')
print(f'MSE: {mean_squared_error(y_test, y_pred)}')
print(f'RMSE: {sqrt(mean_squared_error(y_test, y_pred))}')
print(f'MAPE: {sqrt(mean_absolute_percentage_error(y_test, y_pred))}')
print(f'R^2: {ridge.score(X_test, y_test)}')

MAE: 1644.2485748473712
MSE: 7319460.206523205
RMSE: 2705.450093149605
MAPE: 0.8564666915881436
R^2: 0.8261880516523203

In [ ]:
import pickle
filename = 'model_1.h5'
pickle.dump(ridge, open(filename, 'wb'))

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
#L2
lasso = Lasso(alpha=0.5).fit(X_train, y_train)
y_pred = lasso.predict(X_test)
print(f'MAE: {mean_absolute_error(y_test, y_pred)}')
print(f'MSE: {mean_squared_error(y_test, y_pred)}')
print(f'RMSE: {sqrt(mean_squared_error(y_test, y_pred))}')
print(f'MAPE: {sqrt(mean_absolute_percentage_error(y_test, y_pred))}')
print(f'R^2: {lasso.score(X_test, y_test)}')

MAE: 1693.1616207480342
MSE: 7444018.089685701
RMSE: 2728.372791552815
MAPE: 0.7838266455632198
R^2: 0.8158376730728275

##Третий пункт

In [ ]:
from sklearn.preprocessing import PolynomialFeatures

In [ ]:
p = PolynomialFeatures(1)
X_p=p.fit_transform(X)
X_p

array([[1.00000e+00, 1.90000e+05, 2.01000e+03, ..., 0.00000e+00,
        1.00000e+00, 0.00000e+00],
       [1.00000e+00, 2.90000e+05, 2.00200e+03, ..., 0.00000e+00,
        1.00000e+00, 0.00000e+00],
       [1.00000e+00, 4.02000e+05, 2.00100e+03, ..., 0.00000e+00,
        1.00000e+00, 0.00000e+00],
       ...,
       [1.00000e+00, 7.77957e+05, 2.00000e+03, ..., 0.00000e+00,
        1.00000e+00, 0.00000e+00],
       [1.00000e+00, 2.00000e+04, 2.00100e+03, ..., 0.00000e+00,
        0.00000e+00, 0.00000e+00],
       [1.00000e+00, 2.97729e+05, 2.00000e+03, ..., 0.00000e+00,
        1.00000e+00, 0.00000e+00]])

In [ ]:
lr2 = LinearRegression().fit(X_p, y)

In [ ]:
y_pred = lr2.predict(X_p)
print(f'MAE: {mean_absolute_error(y, y_pred)}')
print(f'MSE: {mean_squared_error(y, y_pred)}')
print(f'RMSE: {sqrt(mean_squared_error(y, y_pred))}')
print(f'MAPE: {sqrt(mean_absolute_percentage_error(y, y_pred))}')
print(f'R^2: {lr2.score(X_p, y)}')

MAE: 1526.618984118963
MSE: 6049193.641146386
RMSE: 2459.5108540411825
MAPE: 0.9743309596903625
R^2: 0.8536015492438197

In [ ]:
parameters = {'alpha': np.arange(0, 1, 0.1)}
ridge_optimal = RandomizedSearchCV(Ridge(), parameters).fit(X_p, y)
ridge_optimal.best_params_

/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_ridge.py:216: LinAlgWarning: Ill-conditioned matrix (rcond=6.19454e-17): result may not be accurate.
  return linalg.solve(A, Xy, assume_a="pos", overwrite_a=True).T

{'alpha': 0.9}

In [ ]:
#L1
ridge = Ridge(alpha=0.9).fit(X_p, y)
y_pred = ridge.predict(X_p)
print(f'MAE: {mean_absolute_error(y, y_pred)}')
print(f'MSE: {mean_squared_error(y, y_pred)}')
print(f'RMSE: {sqrt(mean_squared_error(y, y_pred))}')
print(f'MAPE: {sqrt(mean_absolute_percentage_error(y, y_pred))}')
print(f'R^2: {lr2.score(X_p, y)}')

MAE: 1555.4890727330173
MSE: 6217434.940086949
RMSE: 2493.4784819779275
MAPE: 0.9823872680422999
R^2: 0.8536015492438197

In [ ]:
#L2
lasso = Lasso(alpha=0.9).fit(X_p, y)
y_pred = lasso.predict(X_p)
print(f'MAE: {mean_absolute_error(y, y_pred)}')
print(f'MSE: {mean_squared_error(y, y_pred)}')
print(f'RMSE: {sqrt(mean_squared_error(y, y_pred))}')
print(f'MAPE: {sqrt(mean_absolute_percentage_error(y, y_pred))}')
print(f'R^2: {lr2.score(X_p, y)}')

MAE: 1723.8459363908992
MSE: 7633699.94001937
RMSE: 2762.915116325395
MAPE: 1.0274277840101402
R^2: 0.8536015492438197

In [ ]:
#Собственная реализация
class LinReg:

    def __init__(self, lr=0.001, iters=5000, eps = 0.01):
        self.lr = lr
        self.iters = iters
        self.eps = eps

    def fit(self, x, y):
        dist = np.inf
        X = x.values
        self.X = X
        w = np.zeros(X.shape[1])
        iter = 0
        while dist > self.eps and iter <= self.iters:
            loss = self.fun_error(X, y, w)
            w = w + (self.lr * 2 * np.dot(X.T, np.dot(X, w) - y) / X.shape[0])
            dist = np.abs(loss - self.fun_error(X, y, w))
            iter += 1
        self.w = w

    def fun_error(self, x, y, w):
        return sum((y - np.dot(x, w)) ** 2) / x.shape[0]

    def predict(self, x):
        return np.dot(x, self.w)

In [ ]:
class LinRegr:

    def __init__(self, lr = 0.000001, n_iters=100):
        self.lr = lr
        self.n_iters = n_iters
        self.weights = None

    def fit(self, X, y):
        n_samples, n_features = X.shape
        self.weights = np.zeros(n_features)

        for _ in range(self.n_iters):
            y_pred = np.dot(X, self.weights)
            dw = (1/n_samples) * np.dot(X.T, (y_pred-y))

            self.weights = self.weights - self.lr * dw

    def predict(self, X):
        y_pred = np.dot(X, self.weights)
        return y_pred

In [ ]:
lr3 = LinRegr()
lr3.fit(X_train[:500], y_train[:500])
lr3.predict(X_test)
# print(f'R^2: {lr3.score(X_test, y_test)}')

array([nan, nan, nan, ..., nan, nan, nan])